appdirs==1.4.4
astroid==2.4.2
cachetools==4.2.4
certifi==2020.12.5
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
distlib==0.3.1
filelock==3.0.12
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-core==1.7.2
google-cloud-translate==2.0.1
googleapis-common-protos==1.56.0
grpcio==1.44.0
idna==3.3
isort==5.6.4
Jinja2==3.0.3
joblib==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
nltk==3.6.6
numpy==1.19.4
opencv-contrib-python==4.4.0.46
packaging==21.3
Pillow==8.0.1
pipenv==2020.11.15
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.6.0
pyparsing==3.0.7
pytz==2022.1
regex==2021.11.10
requests==2.27.1
rsa==4.8
six==1.15.0
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.9
virtualenv==20.2.2
virtualenv-clone==0.5.4
wrapt==1.12.1
